statemachine/mlops.asl.json
{
    "Comment": "This Step function starts machine learning pipeline, once custom model has been uploaded to ECR. Two parameters are expected by step functions are git commitID and the sagemaker ECR custom container URI",
    "StartAt": "ChoiceState 3ma",
    "States": {
        "ChoiceState 3ma": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.train3ma",
                    "StringEquals": "true",
                    "Next": "SageMaker Create Training Job 3ma"
                }
            ],
            "Default": "ChoiceState Arima"
        },
        "SageMaker Create Training Job 3ma": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
            "ResultPath": "$.trainingtaskresult",
            "Parameters": {
                "TrainingJobName.$": "$.commitID",
                "ResourceConfig": {
                    "InstanceCount": 1,
                    "InstanceType": "ml.c4.2xlarge",
                    "VolumeSizeInGB": 20
                },
                "HyperParameters": {
                    "mode": "batch_skipgram",
                    "epochs": "5",
                    "min_count": "5",
                    "sampling_threshold": "0.0001",
                    "learning_rate": "0.025",
                    "window_size": "5",
                    "vector_dim": "300",
                    "negative_samples": "5",
                    "batch_size": "11"
                },
                "AlgorithmSpecification": {
                    "TrainingImage.$": "$.imageUri",
                    "TrainingInputMode": "File"
                },
                "OutputDataConfig": {
                    "S3OutputPath": "s3://development-df/cicd-devops/${S3ModelBucket}/output-3ma"
                },
                "StoppingCondition": {
                    "MaxRuntimeInSeconds": 100000
                },
                "RoleArn": "${SagemakerRoleArn}",
                "InputDataConfig": [
                    {
                        "ChannelName": "training",
                        "DataSource": {
                            "S3DataSource": {
                                "S3DataType": "S3Prefix",
                                "S3Uri": "s3://development-df/cicd-devops/${S3ModelBucket}/iris.csv",
                                "S3DataDistributionType": "FullyReplicated"
                            }
                        }
                    }
                ]
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "SageMaker.AmazonSageMakerException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 1,
                    "BackoffRate": 1.1
                },
                {
                    "ErrorEquals": [
                        "SageMaker.ResourceLimitExceededException"
                    ],
                    "IntervalSeconds": 60,
                    "MaxAttempts": 1,
                    "BackoffRate": 1
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.cause",
                    "Next": "FailState"
                }
            ],
            "Next": "SageMaker Create Model 3ma"
        },
        "SageMaker Create Model 3ma": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createModel",
            "Parameters": {
                "ExecutionRoleArn": "${SagemakerRoleArn}",
                "ModelName.$": "$.trainingtaskresult.TrainingJobName",
                "PrimaryContainer": {
                    "ModelDataUrl.$": "$.trainingtaskresult.ModelArtifacts.S3ModelArtifacts",
                    "Image.$": "$.trainingtaskresult.AlgorithmSpecification.TrainingImage"
                }
            },
            "ResultPath": "$.taskresult",
            "Next": "SageMaker Create Transform Job 3ma",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "SageMaker Create Transform Job 3ma": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createTransformJob.sync",
            "Parameters": {
                "ModelName.$": "$.trainingtaskresult.TrainingJobName",
                "TransformInput": {
                    "SplitType": "Line",
                    "CompressionType": "None",
                    "ContentType": "text/csv",
                    "DataSource": {
                        "S3DataSource": {
                            "S3DataType": "S3Prefix",
                            "S3Uri": "s3://development-df/cicd-devops/${S3ModelBucket}/iris.csv"
                        }
                    }
                },
                "TransformOutput": {
                    "S3OutputPath.$": "States.Format('s3://development-df/cicd-devops/${S3ModelBucket}/transform_output/{}/iris.csv', $.trainingtaskresult.TrainingJobName)",
                    "AssembleWith": "Line",
                    "Accept": "text/csv"
                },
                "DataProcessing": {
                    "InputFilter": "$[1:]"
                },
                "TransformResources": {
                    "InstanceCount": 1,
                    "InstanceType": "ml.m4.xlarge"
                },
                "TransformJobName.$": "$.trainingtaskresult.TrainingJobName"
            },
            "ResultPath": "$.result",
            "Next": "Sagemaker Create Endpoint Config 3ma",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Sagemaker Create Endpoint Config 3ma": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createEndpointConfig",
            "Parameters": {
                "EndpointConfigName.$": "$.trainingtaskresult.TrainingJobName",
                "ProductionVariants": [
                    {
                        "InitialInstanceCount": 1,
                        "InitialVariantWeight": 1,
                        "InstanceType": "ml.t2.medium",
                        "ModelName.$": "$.trainingtaskresult.TrainingJobName",
                        "VariantName": "AllTraffic"
                    }
                ]
            },
            "ResultPath": "$.result",
            "Next": "Sagemaker Create Endpoint 3ma",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Sagemaker Create Endpoint 3ma": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createEndpoint",
            "ResultPath": "$.endpointresult",
            "Parameters": {
                "EndpointName.$": "$.trainingtaskresult.TrainingJobName",
                "EndpointConfigName.$": "$.trainingtaskresult.TrainingJobName"
            },
            "Next": "Send Email With API Endpoint 3ma",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Send Email With API Endpoint 3ma": {
            "Type": "Task",
            "Resource": "${UpdateSagemakerEndpointAPI}",
            "ResultPath": null,
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ],
            "Next": "ChoiceState Arima"
        },
        "ChoiceState Arima": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.trainArima",
                    "StringEquals": "true",
                    "Next": "SageMaker Create Training Job Arima"
                }
            ],
            "Default": "ChoiceState Ets"
        },
        "SageMaker Create Training Job Arima": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
            "ResultPath": "$.trainingtaskresult2",
            "Parameters": {
                "TrainingJobName.$": "$.commitIL",
                "ResourceConfig": {
                    "InstanceCount": 1,
                    "InstanceType": "ml.c4.2xlarge",
                    "VolumeSizeInGB": 20
                },
                "HyperParameters": {
                    "mode": "batch_skipgram",
                    "epochs": "5",
                    "min_count": "5",
                    "sampling_threshold": "0.0001",
                    "learning_rate": "0.025",
                    "window_size": "5",
                    "vector_dim": "300",
                    "negative_samples": "5",
                    "batch_size": "11"
                },
                "AlgorithmSpecification": {
                    "TrainingImage.$": "$.imageUri",
                    "TrainingInputMode": "File"
                },
                "OutputDataConfig": {
                    "S3OutputPath": "s3://development-df/cicd-devops/${S3ModelBucket}/output-arima"
                },
                "StoppingCondition": {
                    "MaxRuntimeInSeconds": 100000
                },
                "RoleArn": "${SagemakerRoleArn}",
                "InputDataConfig": [
                    {
                        "ChannelName": "training",
                        "DataSource": {
                            "S3DataSource": {
                                "S3DataType": "S3Prefix",
                                "S3Uri": "s3://development-df/cicd-devops/${S3ModelBucket}/iris.csv",
                                "S3DataDistributionType": "FullyReplicated"
                            }
                        }
                    }
                ]
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "SageMaker.AmazonSageMakerException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 1,
                    "BackoffRate": 1.1
                },
                {
                    "ErrorEquals": [
                        "SageMaker.ResourceLimitExceededException"
                    ],
                    "IntervalSeconds": 60,
                    "MaxAttempts": 1,
                    "BackoffRate": 1
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.cause",
                    "Next": "FailState"
                }
            ],
            "Next": "SageMaker Create Model Arima"
        },
        "SageMaker Create Model Arima": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createModel",
            "Parameters": {
                "ExecutionRoleArn": "${SagemakerRoleArn}",
                "ModelName.$": "$.trainingtaskresult2.TrainingJobName",
                "PrimaryContainer": {
                    "ModelDataUrl.$": "$.trainingtaskresult2.ModelArtifacts.S3ModelArtifacts",
                    "Image.$": "$.trainingtaskresult2.AlgorithmSpecification.TrainingImage"
                }
            },
            "ResultPath": "$.taskresult",
            "Next": "SageMaker Create Transform Job Arima",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "SageMaker Create Transform Job Arima": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createTransformJob.sync",
            "Parameters": {
                "ModelName.$": "$.trainingtaskresult2.TrainingJobName",
                "TransformInput": {
                    "SplitType": "Line",
                    "CompressionType": "None",
                    "ContentType": "text/csv",
                    "DataSource": {
                        "S3DataSource": {
                            "S3DataType": "S3Prefix",
                            "S3Uri": "s3://development-df/cicd-devops/${S3ModelBucket}/iris.csv"
                        }
                    }
                },
                "TransformOutput": {
                    "S3OutputPath.$": "States.Format('s3://development-df/cicd-devops/dev-ml-models-chris/transform_output/{}/iris.csv', $.trainingtaskresult.TrainingJobName)",
                    "AssembleWith": "Line",
                    "Accept": "text/csv"
                },
                "DataProcessing": {
                    "InputFilter": "$[1:]"
                },
                "TransformResources": {
                    "InstanceCount": 1,
                    "InstanceType": "ml.m4.xlarge"
                },
                "TransformJobName.$": "$.trainingtaskresult2.TrainingJobName"
            },
            "ResultPath": "$.result",
            "Next": "Sagemaker Create Endpoint Config Arima",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Sagemaker Create Endpoint Config Arima": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createEndpointConfig",
            "Parameters": {
                "EndpointConfigName.$": "$.trainingtaskresult2.TrainingJobName",
                "ProductionVariants": [
                    {
                        "InitialInstanceCount": 1,
                        "InitialVariantWeight": 1,
                        "InstanceType": "ml.t2.medium",
                        "ModelName.$": "$.trainingtaskresult2.TrainingJobName",
                        "VariantName": "AllTraffic"
                    }
                ]
            },
            "ResultPath": "$.result",
            "Next": "Sagemaker Create Endpoint Arima",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Sagemaker Create Endpoint Arima": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createEndpoint",
            "ResultPath": "$.endpointresult",
            "Parameters": {
                "EndpointName.$": "$.trainingtaskresult2.TrainingJobName",
                "EndpointConfigName.$": "$.trainingtaskresult2.TrainingJobName"
            },
            "Next": "Send Email With API Endpoint Arima",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Send Email With API Endpoint Arima": {
            "Type": "Task",
            "Resource": "${UpdateSagemakerEndpointAPI}",
            "ResultPath": null,
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ],
            "Next": "ChoiceState Ets"
        },
        "ChoiceState Ets": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.train3ma",
                    "StringEquals": "true",
                    "Next": "SageMaker Create Training Job Ets"
                }
            ],
            "Default": "SuccessState"
        },
        "SageMaker Create Training Job Ets": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
            "ResultPath": "$.trainingtaskresult3",
            "Parameters": {
                "TrainingJobName.$": "$.commitIK",
                "ResourceConfig": {
                    "InstanceCount": 1,
                    "InstanceType": "ml.c4.2xlarge",
                    "VolumeSizeInGB": 20
                },
                "HyperParameters": {
                    "mode": "batch_skipgram",
                    "epochs": "5",
                    "min_count": "5",
                    "sampling_threshold": "0.0001",
                    "learning_rate": "0.025",
                    "window_size": "5",
                    "vector_dim": "300",
                    "negative_samples": "5",
                    "batch_size": "11"
                },
                "AlgorithmSpecification": {
                    "TrainingImage.$": "$.imageUrK",
                    "TrainingInputMode": "File"
                },
                "OutputDataConfig": {
                    "S3OutputPath": "s3://development-df/cicd-devops/${S3ModelBucket}/output-ets"
                },
                "StoppingCondition": {
                    "MaxRuntimeInSeconds": 100000
                },
                "RoleArn": "${SagemakerRoleArn}",
                "InputDataConfig": [
                    {
                        "ChannelName": "training",
                        "DataSource": {
                            "S3DataSource": {
                                "S3DataType": "S3Prefix",
                                "S3Uri": "s3://development-df/cicd-devops/${S3ModelBucket}/iris2.csv",
                                "S3DataDistributionType": "FullyReplicated"
                            }
                        }
                    }
                ]
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "SageMaker.AmazonSageMakerException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 1,
                    "BackoffRate": 1.1
                },
                {
                    "ErrorEquals": [
                        "SageMaker.ResourceLimitExceededException"
                    ],
                    "IntervalSeconds": 60,
                    "MaxAttempts": 1,
                    "BackoffRate": 1
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.cause",
                    "Next": "FailState"
                }
            ],
            "Next": "SageMaker Create Model Ets"
        },
        "SageMaker Create Model Ets": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createModel",
            "Parameters": {
                "ExecutionRoleArn": "${SagemakerRoleArn}",
                "ModelName.$": "$.trainingtaskresult3.TrainingJobName",
                "PrimaryContainer": {
                    "ModelDataUrl.$": "$.trainingtaskresult3.ModelArtifacts.S3ModelArtifacts",
                    "Image.$": "$.trainingtaskresult3.AlgorithmSpecification.TrainingImage"
                }
            },
            "ResultPath": "$.taskresult",
            "Next": "SageMaker Create Transform Job Ets",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "SageMaker Create Transform Job Ets": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createTransformJob.sync",
            "Parameters": {
                "ModelName.$": "$.trainingtaskresult3.TrainingJobName",
                "TransformInput": {
                    "SplitType": "Line",
                    "CompressionType": "None",
                    "ContentType": "text/csv",
                    "DataSource": {
                        "S3DataSource": {
                            "S3DataType": "S3Prefix",
                            "S3Uri": "s3://development-df/cicd-devops/${S3ModelBucket}/iris2.csv"
                        }
                    }
                },
                "TransformOutput": {
                    "S3OutputPath.$": "States.Format('s3://development-df/cicd-devops/${S3ModelBucket}/transform_output/{}/iris2.csv', $.trainingtaskresult3.TrainingJobName)",
                    "AssembleWith": "Line",
                    "Accept": "text/csv"
                },
                "DataProcessing": {
                    "InputFilter": "$[1:]"
                },
                "TransformResources": {
                    "InstanceCount": 1,
                    "InstanceType": "ml.m4.xlarge"
                },
                "TransformJobName.$": "$.trainingtaskresult3.TrainingJobName"
            },
            "ResultPath": "$.result",
            "Next": "Sagemaker Create Endpoint Config Ets",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Sagemaker Create Endpoint Config Ets": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createEndpointConfig",
            "Parameters": {
                "EndpointConfigName.$": "$.trainingtaskresult3.TrainingJobName",
                "ProductionVariants": [
                    {
                        "InitialInstanceCount": 1,
                        "InitialVariantWeight": 1,
                        "InstanceType": "ml.t2.medium",
                        "ModelName.$": "$.trainingtaskresult3.TrainingJobName",
                        "VariantName": "AllTraffic"
                    }
                ]
            },
            "ResultPath": "$.result",
            "Next": "Sagemaker Create Endpoint Ets",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Sagemaker Create Endpoint Ets": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createEndpoint",
            "ResultPath": "$.endpointresult",
            "Parameters": {
                "EndpointName.$": "$.trainingtaskresult3.TrainingJobName",
                "EndpointConfigName.$": "$.trainingtaskresult3.TrainingJobName"
            },
            "Next": "Send Email With API Endpoint Ets",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Send Email With API Endpoint Ets": {
            "Type": "Task",
            "Resource": "${UpdateSagemakerEndpointAPI}",
            "ResultPath": "$.endpointresult",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ],
            "Next": "SuccessState"
        },
        "SuccessState": {
            "Type": "Succeed"
        },
        "FailState": {
            "Type": "Fail"
        }
    }
}